* {
  box-sizing: border-box;
  // height: 100%;
}
.wrapper {
  display: flex;
}

// サイドバー
.SideBar__Header {
    width: 300px;
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    &__Box {
      margin: 0 20px;
      color: #fff;
      font-size: 16px;
      height: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
    }
}

.icon {
  text-decoration: none;
}
.fa {
  color: #fff;
  margin-left: 5px;
}
.SideBar__GroupList{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  overflow: scroll;
  &__Groups {
    padding:20px 20px ;
    height: 90px;
    &-GroupName {
      font-size: 15px;
      color: #fff;
      height: 20px;
      margin-bottom: 5px;
    }
    &-GroupMessage {
      font-size: 11px;
      color: #fff;
      height: 11px;
    }
  }
}

// チャットのメイン部分
.ChatMain {
  width: calc(100vw - 300px);
  height: 100vh;
}

// チャットのグループ情報
.ChatMain__GroupInfo{
  background-color: #fff;
  height: 100px;
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  &__LeftBox {
    padding-top: 35px;
    height: 65px;
    &-GroupName {
      font-size: 20px;
      color: #333;
      margin-bottom: 15px;
      line-height: 20px;
      height: 35px;
  }
  &-MemberList {
    font-size: 12px;
    color: #999;
    height: 12px;
  }
}
&__RightBox {
  margin-top: 28px;
  padding: 20px 20px;
  border: solid 1px #38aef0;
  color: #38aef0;
  height: 20px;
  display: flex;
  align-items: center;
  &-EditBtn {
    color: #38aef0;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}
}

// メッセージ一覧
.ChatMain__Messages{
  background-color: #fafafa;
  height: calc(100vh - 190px);
  padding: 35px 40px;
  overflow: scroll;
}

.message {
  height: 70px;
  margin-bottom: 12px;
}

.upper-message {
  display: flex;
  &__user-name {
    font-size: 16px;
    color: #333;
    height: 16px;
  }
  &__date {
      font-size: 12px;
      color: #999;
      margin-left: 10px;
      height: 12px;
  }
}

.lower-message{
    height: 14px;
    font-size: 14px;
    color: #434A54;
    margin-top: 20px;
  }

// メッセージ入力フォーム
.ChatMain__MessageForm {
  background-color: #d2d2d2;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  &__Box {
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    &__form__message {
      width: calc(100vw - 450px);
      height: 100%;
      display: flex;
    }
  }
}

.new_message {
  position: relative;

}

.form__mask{
  position: absolute;
  right: 0;
  bottom: 10px;
  &__hidden {
    display: none;
  }
  &__form__submit {
    position: absolute;
    top: 1px;
    right: -110px;
    font-size: 16px;
    cursor: pointer;
    background: #38aef0;
    color: #ffffff;
    padding: 10px 30px;
  }
  &__icon {
    padding-right: 10px;
  }
}



